

.header_perfil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.845);
    position: fixed;
  }
  
  .header_perfil .navBar{
    display: flex;
    width: 15%;
    margin-left: 13%;
    margin-right: 2%;
    height: 100%;
    align-items: center;
    justify-content: end;
    gap: 15px;
  }
  
  .navOpcoes{
    display: flex;
    color: blueviolet;
    font-size: 28px;
    text-decoration: none;
    margin: 5px;
  }

.header_perfil .logout{
    width: 5%;
    height: 7vh;
    background-color: blueviolet;
    border-radius: 35px;
}

.logout img{
    width: 100%;
    height: 100%;
}

.mensagem_inicio{
    width: 50%;
    color: white;
    font-size: 50px;
}

#usuario_nome1{
    color: blueviolet;
}

.banner_perfil{
    width: 100%;
    height: 80vh;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.card_perfil{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.514);
}

.foto_perfil{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 100%;
}

.info_user{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-left: 3px solid black;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 25px;
    margin-top: 3%;
}

.informacoes label{
    padding: 5px;
    border: 2px solid blueviolet;
    color: white;
}

.graficos{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%; 
    margin: 5%;
}

.baterias{
    width: 50%;
    height: 100%;
    border-right: 3px solid white;
}

.Treinos{
    width: 50%;
    height: 100%;
}

.ul{
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 40px;
}

.baterias label{
    width: 100%;
    font-size: 45px;
    margin-left: 15%;
    padding: 5px;
    border: 2px solid blueviolet;
    color: white;
}

.Treinos label{
    width: 100%;
    font-size: 45px;
    margin-left: 27%;
    padding: 5px;
    border: 2px solid blueviolet;
    color: white;
}

/*Inicio da PG-Treino*/

.card_treino{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.514);
}



/*Fim da PG-Treino*/