
/* Body Universal */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  background-image:url("../assets/imgs/banner.jpg");
  background-size: 100%;
  height: max-content;
}

/* Inicio Header Universal */

.header{
  display: flex;
  width: 100%;
  height: 22vh;
  background-color: rgba(0, 0, 0, 0.708);
  position: fixed;
}

.logo{
  display: flex;
  width: 13%;
  height: 100%;
  margin-left: 2%;
  justify-content: end;
}

.logo img{
  width: 100%;
  height: 100%;
}

.navBar{
  display: flex;
  width: 70%;
  margin-left: 13%;
  height: 100%;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.navOpcoes{
  display: flex;
  color: blueviolet;
  font-size: 28px;
  text-decoration: none;
}

/* Fim Header Universal */

/* Inicio Banner PG-Home */

.banner_Home{
  margin-top: 27%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner_Home .slogan{
  width: 100%;
  height: 30vh;
  text-align: center;
  font-weight: 900;
  font-size: 115px;
  color: white;
  text-shadow: 1px 1px 8px blueviolet;
  margin-bottom: 15%;
}

.palavra_chave{
  font-weight: bolder;
  color: blueviolet;
  text-shadow: 1px 1px 8px rgb(0, 0, 0);
}

.valores{
  display: flex;
  width: 85%;
  height: 100vh; 
  margin-top: 2%;
  flex-direction: column;
  padding: 1%;
}

.titulo_valores{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 8px blueviolet;
  width: 100%;
  font-size: 60px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 0;
  margin-right: 0;
}

.cards{
  display: flex;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.751);
  margin-top: 2%; 
  /* border-radius: 20%; */
}

.Separacao{
  margin-left: 5%;
  margin-right: 5%;
}

.titulo_card{
  display: flex;
  margin: 0;
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  height: 11vh;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-shadow: 1px 1px 8px blueviolet;
  border-bottom: 3px solid blueviolet;
}

.texto_card{
  display: flex;
  margin: 0;
  width: 100%;
  height: 35vh;
  color: white;
  text-align: justify;
  flex-direction: row;
}

.separador{
  margin-left: 15px;
  width: 5%;
  height: 5%;
}

/* Fim Banner PG-Home */